/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.header-page {
  height: 600px;
  background-color: rgb(19, 205, 230);
  padding: 10px;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}



button{
  border-radius: 20px;
  padding: 10px 15px;
  border-radius: 20px;
}
/* # HEADER */

.header-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 700px;
  margin-right: 700px;
  height: 40px;
}

.header-setup {
  background-color: #255ee9
  border: 1px dashed black;
}

.header-login{
  background-color: white;
  color: black;
 
}

.header-content{

}

.left {
  width: 250px;
  height: 40px;
}

.center {
  width: 800px;
  height: 40px;
  text-align: center;
  color: white;
}

h1{
  font-size: 60px;
  padding-bottom: 50px;
}

.right {
  width: 250px;
  height: 40px;
  text-align: right;
}

.header-button{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
}

/* # MAIN SECTION */


.section-1 {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 {
  height: 500px;
  background-color: rgb(137, 142, 143);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.section-4 {
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 {
  height: 700px;
  background-color: rgb(137, 142, 143);
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-section-5{
  background-image: url(../img/stars.svg);
  height: 30px;
  background-size: cover;
  width: 300px;
  text-align: center;
}

.title-section{
  font-size: 35px;
}

.title-end{
}

.p-section{
  padding: 20px;
  text-align: left;
  font-size: 18px;
}

.p-end{
width: 700px;
}

/* # CARD */

.first {
  height: 400px;
  width: 800px;
  color: white;
}

.last-card-center {
  min-height: 600px;
  min-width: 1000px;
  text-align: center;
}

/* # COLUMS */

.blue-column {
  width: 600px;
  height: 400px;
 
}

.rose-column {
  width: 400px;
  height: 400px;
}

/* # FOOTER */

.footer-container {
  height: 500px;
  background-color: rgb(32, 27, 27);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.first-card {
  width: 175px;
  height: 400px;
  color: white;
  display: grid;
}

.second-card {
  width: 300px;
  height: 400px;
}

.flag{
  height: 25px;
}

hr {
  margin: 20px;
}

.title-item{
  color:#5865f2;
  font-size: 40px;
  margin-bottom: 20px;
}

.item{
  color:#5865f2;
}

.end {
}

.end-container {
  width: 1000px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.flex-card {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 2px solid #5865f2;;
}

.end-page {
  display: flex;
  flex-direction: column;
}

.end-item {
  padding: 5px;
}

.register-button{
  background-color:#5865f2
}